# Dependencies
node_modules/

# Parcel build cache & output
.parcel-cache/
dist/

# Environment variables
.env
.env.local
.env.*.local

# OS files
Thumbs.db

# Editor directories
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
